@import "tailwindcss";

html {
  scroll-padding-top: 80px; /* This accounts for the fixed navbar */
  scroll-behavior: smooth;
}

/* Ensure sections are properly sized and spaced */
section {
  scroll-margin-top: 80px;
  position: relative;
  padding: 35px 0;
  box-sizing: border-box;
}

/* First section should account for navbar */
/* section:first-of-type {
  padding-top: 100px;
} */
