.nav-link {
  position: relative;
}

.nav-link:not(.contact):not(.active-link)::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease-in-out;
}

.nav-link:not(.contact):not(.active-link):hover::after {
  width: 100%;
}

.nav-link:not(.contact):not(.active-link):hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
}
